/*GENERAL*/

p {
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

.main {
    padding-top: 50px;
}

section {
    padding-top: 50px;
}


/*ABOUT*/

.about .avatar {
    display: inline-block;
    height: 220px;
}

.about .adress {
    margin-top: 50px;
}

/*WORKS*/

.works {
    background-color: rgb(99, 250, 85);
}

.works .row div {
    height: 100px;
    background-color: aqua;
}





/*MEDIA*/

@media (max-width: 768px) {
    .about h1, .about .adress{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {
    .about .avatar {
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .about .avatar {
        height: 250px;
    }
}